%%-*- mode: erlang -*-
%% ex: ft=erlang
%% {require_otp_vsn, "R19"}.
{erl_opts, [debug_info, {parse_transform}]}.
{deps, [
  %% third party

  {jsx, "", {git, "https://github.com/talentdeficit/jsx.git", {branch, master}}},

  %% Add meck to the list of dependencies
  {meck, "", {git, "https://github.com/basho/meck.git", {tag, "0.8.4"}}},

  %% Include covertool as a dependency

  {gascheduler, "", {git, "https://github.com/elpaisa/gascheduler",  {tag, "1.2.2"} }},
  {qdate, "", {git, "https://github.com/elpaisa/qdate", {tag, "0.4.3"}}},
  {etspersist, "", {git, "https://github.com/elpaisa/etspersist", {tag, "0.0.2"}}},
  {utils, "", {git, "https://github.com/elpaisa/erlutils", {branch, master}}},
  lhttpc,
  {cowboy, "", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.10"}}}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.
{shell, [
  {apps, [taskeduler]},
  {config, "config/sys.config"}
]}.

{edoc_opts, [{dir, "docs/"}]}.